events {
  worker_connections  1024;  ## Default: 1024
}
http {
 server {
   listen {{ nginx_port }};
   listen [::]:{{ nginx_port }};

   server_name _;
   index index.html;
   location / {
       root /usr/share/nginx/html;
   }
 }
}